# Node
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Next build
.next
out

# Git
.git
.gitignore

# Env
.env
.env.local
.env.development
.env.production

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
