@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #DA3A24; 
}

/* Prevent accidental horizontal scroll */
html, body {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #DA3A24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.trip-type-radio .ant-radio-button-wrapper-checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: white !important;
}

.trip-type-radio .ant-radio-button-wrapper-checked:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: white !important;
}

.trip-type-radio .ant-radio-button-wrapper:hover {
  color: black;
}
